<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @experiment.title %>
</p>

<p>
  <strong>Content:</strong>
  <%= @experiment.content %>
</p>

<p>
  <strong>User:</strong>
  <%= @experiment.user_id %>
</p>

<%= link_to 'Edit', edit_experiment_path(@experiment) %> |
<%= link_to 'Back', experiments_path %>
